<div class="panel panel-primary">
  <div class="panel-heading">Tarea</div>
  <div class="panel-body">
    <form (ngSubmit)="onSubmit()" class="form-horizontal">
      <div class="form-group  ">
        <div class="col-xs-3">
          <label for="numCodigo">Codigo:</label>
        </div>
        <input type="number" class="input-sm" required [(ngModel)]="tarea.codigo" name="numCodigo" [disabled]="!editable" />
      </div>
      <div class="form-group  ">
        <div class="col-xs-3">
          <label for="txtDescripcion">Descripcion:</label>
        </div>
        <input type="text" class="input-sm" required [(ngModel)]="tarea.descripcion" name="txtDescripcion" [disabled]="!editable" />
      </div>
      <div>


        <div class="row">
          <div class="col-sm-4">
            <h2>Insumos</h2>
            <div class="table-responsive">
              <table class="table table-hover toggle-arrow-tiny">
                <thead>
                  <tr class="success">
                    <th>Codigo</th>
                    <th>Descripcio</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let insumo of insumosSeleccionados" >
                    <td>{{insumo.codigo}}</td>
                    <td>{{insumo.descripcion}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                      <ul class="pagination pull-right"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <button type="button" class="btn" [disabled]="!editable" (click)="buscarInsumos()"   data-toggle="modal" data-target="#insumoModal">Añadir Insumos</button>
          </div>

          <div class="col-sm-4">
            <h2>Maquinarias</h2>
            <div class="table-responsive">
              <table class="table table-hover toggle-arrow-tiny">
                <thead>
                  <tr class="success">
                    <th>Codigo</th>
                    <th>Descripcio</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let maquinaria of maquinariasSeleccionadas" >
                    <td>{{maquinaria.codigo}}</td>
                    <td>{{maquinaria.descripcion}}</td>
                    <td> <button type="button" class="btn btn-danger" (click)="eliminarMaquinaria(maquinaria.id)">Eliminar</button>                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                      <ul class="pagination pull-right"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <button type="button" class="btn" (click)="buscarMaquinarias()"   data-toggle="modal" data-target="#maquinariaModal" [disabled]="!editable">Añadir Maquinaria</button>
          </div>

          <div class="col-sm-4">
            <h2>Tratos</h2>
            <div class="table-responsive">
              <table class="table table-hover toggle-arrow-tiny">
                <thead>
                  <tr class="success">
                    <th>Codigo</th>
                    <th>Descripcio</th>
                  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trato of tratosSeleccionados" >
                    <td>{{trato.codigo}}</td>
                    <td>{{trato.descripcion}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                      <ul class="pagination pull-right"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <button type="button" class="btn" (click)="buscarTratos()"   data-toggle="modal" data-target="#tratoModal" [disabled]="!editable">Añadir Trato</button>
          </div>
        </div>
<br>

        <div class="col-xs-1" [hidden]="!editable">
          <button type="submit" class="btn btn-primary" [disabled]="!editable">Guardar</button>
        </div>
      </div>
      <div>
      </div>
    </form>
  </div>
</div>


  <!-- Modal Insumos-->
  <div class="modal fade" id="insumoModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Insumos</h4>
        </div>
        <div class="modal-body">
          <table class="table table-hover toggle-arrow-tiny">
            <thead>
              <tr class="success">
                <th>Seleccion</th>
                <th>Codigo</th>
                <th>Descripcio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let insumo of insumos" >
                <td> <label><input type="checkbox"  [(checked)]="insumo.checkbox" (change)="insumo.checkbox = !insumo.checkbox ;actualizarInsumosSeleccionados(insumo)"></label></td>
                <td>{{insumo.codigo}}</td>
                <td>{{insumo.descripcion}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  <ul class="pagination pull-right"></ul>
                </td>
              </tr>
            </tfoot>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>



  <!-- Modal Maquinaia-->
  <div class="modal fade" id="maquinariaModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Maquinaria</h4>
        </div>
        <div class="modal-body">


          <table class="table table-hover toggle-arrow-tiny">
            <thead>
              <tr class="success">
                <th>Seleccion</th>
                <th>Codigo</th>
                <th>Descripcio</th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let maquinaria of maquinarias" >
                <td> <label><input type="checkbox" value="">{{maquinaria.checkbox}}</label></td>
                <td>{{maquinaria.codigo}}</td>
                <td>{{maquinaria.descripcion}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  <ul class="pagination pull-right"></ul>
                </td>
              </tr>
            </tfoot>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal Tratos-->
  <div class="modal fade" id="tratoModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Tratos</h4>
        </div>
        <div class="modal-body">


          <table class="table table-hover toggle-arrow-tiny">
            <thead>
              <tr class="success">
                <th>Seleccion</th>
                <th>Codigo</th>
                <th>Descripcio</th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trato of tratos" >
                <td> <label><input type="checkbox" [(checked)]="trato.checkbox" (change)="trato.checkbox = !trato.checkbox ;actualizarTratosSeleccionados(trato)"></label></td>
                <td>{{trato.codigo}}</td>
                <td>{{trato.descripcion}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  <ul class="pagination pull-right"></ul>
                </td>
              </tr>
            </tfoot>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>
