<h1>Nuevo Campo</h1>

<agm-map 
[latitude]="latInicio" 
[longitude]="lngInicio"
[zoom]="14"
(mapClick)="mapClickeado($event)"
>
    

<agm-marker
*ngFor= "let m of markers; let i = index"
(markerClick)="marcadorClicleado(m,i)"
[latitude]="m.lati"
[longitude]="m.longi"
[markerDraggable]="m.arrastrable"
iconUrl="assets/img/iconoMarcador.png"
(dragEnd)="posicionFinalMarcador(m,$event,i)"
>

    <agm-polygon
     [paths]="paths"
     fillOpacity = 0.1
     fillColor  = #21AF04
     editable = true
     >
    </agm-polygon>

    <agm-info-window>
        <strong>{{m.nombre}}</strong>
    </agm-info-window>
</agm-marker>
</agm-map>



<div>
        <h2>Datos del campo</h2>
<form  class="form-inline" (ngSubmit)="onSubmit()"  >
  
    <div class="form-group">
           <label for="txtNombre" class="col-lg-2 control-label" >Nombre: </label>
           <input type="text" class="form-control" required [(ngModel)]="model.nombre" name="txtNombre" />

    </div>
    
   <div class="form-group">
           <label for="txtCuit" class="col-lg-2 control-label">CUIT:</label>
           <input type="text" class="form-control" required [(ngModel)]="model.cuit" name="txtCuit"  />
       </div>
    
    
   <div class="form-group">
           <label for="txtHcta" class="col-lg-2 control-label">Hectarea:</label>
           <input type="number" class="form-control" required [(ngModel)]="model.hectarea" name="txtHcta" />
       </div>
    
    
   <div class="form-group">
           <label for="txtCod" class="col-lg-2 control-label">Codigo:</label>
           <input type="number" class="form-control" required [(ngModel)]="model.codigo" name="txtCod" />
       </div>
    

    <div>
        
       <div class="col-sm-10 col-sm-offset-2">
                   <button type="submit" class="btn btn-primary" >Guardar</button>
        </div>
        
     </div>
   </form>

</div>

