<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Cuarteles y Sub Cuarteles</h5>

        </div>
        <div class="ibox-content">
          <div class="form-group">

            <select [(ngModel)]="selectorCampo" [ngModelOptions]="{standalone: true}" class="btn btn-primary" (ngModelChange)="buscarCuarteles(selectorCampo)">
                  <option> - Seleccione un campo - </option>
                  <option  *ngFor="let campo of campos"  >{{campo.nombre}}</option>
                </select>

          </div>

          <div *ngIf="selectorCampo">


            <div class="table-responsive" *ngIf="cuarteles">
              <table class="table table-hover toggle-arrow-tiny">
                <thead>
                  <tr class="success">

                    <th>Nombre</th>
                    <th>Hectareas</th>
                    <th>codigo</th>
                    <th>Campo</th>
                    <th></th>
                    <th></th>
                    <th></th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cuartel of cuarteles">

                    <td>{{cuartel.descripcion}}</td>
                    <td>{{cuartel.hectarea}}</td>
                    <td>{{cuartel.codigo}}</td>
                    <td>{{cuartel.nombreCampo}}</td>

                    <td> <button type="button" class="btn btn-info" [routerLink]="['/nuevo-cuartel',cuartel.idCampo, cuartel.idCuartel]">Ver cuartel</button></td>
                    <td> <button type="button" class="btn btn-info" [routerLink]="['/subCuarteles',cuartel.idCuartel]">Ver subCuarteles</button></td>
                    <td> <button type="button" class="btn btn-danger" (click)="eliminarCuartel(cuartel.idCuartel)">Eliminar Cuartel</button>                      </td>

                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                      <ul class="pagination pull-right"></ul>
                    </td>
                  </tr>
                </tfoot>

              </table>
              <button *ngIf=campoSeleccionado type="button" class="btn btn-primary" [routerLink]="['/nuevo-cuartel',campoSeleccionado.idCampo]">Crear Cuartel</button>
              <p></p>


              <div *ngIf="campoSeleccionado">
                <agm-map (mapReady)="actualizarAreas()" [latitude]="latInicio" [longitude]="lngInicio" [zoom]="14">
                  <!--
                     (mapClick)="mapClickeado($event)"
                    (mapRightClick)="eliminarMarcador()"
                  -->
                  <agm-polygon [paths]="arrayPaths" fillOpacity=0.6 fillColor=#21AF04>
                  </agm-polygon>
                  <agm-marker *ngFor="let m of markers" [latitude]="m.lati" [longitude]="m.longi" [markerDraggable]="false" iconUrl="assets/img/iconoMarcador.png">
                  </agm-marker>
                  <agm-polygon [paths]="pathsCampo" fillOpacity=0.2>
                  </agm-polygon>
                  <!--
                        <agm-info-window>
                            <strong>{{m.nombre}}</strong>
                        </agm-info-window>
                    
                  -->
                </agm-map>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>