

<div class="table-responsive">
<table class="table table-sm table-inverse">
  <thead>
    <tr class="success">
      <th>#</th>
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Hectareas</th>
      <th>CUIT</th>
      <th></th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let campo of campos">
      <th scope="row">{{campo.indez}}</th> 
      <td>{{campo.nombre}}</td>
      <td>{{campo.codigo}}</td>
      <td>{{campo.hectarea}}</td>
      <td >{{campo.CUIT}}</td>
      <td> <button type="button" class="btn btn-success" (click)= "clickVerMapa(campo.coordenadaModel)">Ver Mapa</button></td>
    </tr>
  </tbody>
</table>
</div>
