

<div class="table-responsive">
<table class="table table-sm table-inverse">
  <thead>
    <tr class="success">
      
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Hectareas</th>
      <th>CUIT</th>
      <th></th> 
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let campo of campos">
       
      <td>{{campo.nombre}}</td>
      <td>{{campo.codigo}}</td>
      <td>{{campo.hectarea}}</td>
      <td >{{campo.cuit}}</td>
      <td> <button type="button" class="btn btn-info" (click)= "clickVerMapa(campo.coordenadaModel)">Ver Mapa</button></td>
      <td> <button type="button" class="btn btn-danger">Eliminar Campo</button> </td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary"  routerLink="/nuevo-campo" routerLinkActive="active">Crear Campo</button>
</div>
